<div>
    <p></p>
    <h3>Корзина</h3>
    <p></p>
    <table class="table table-hover">
        <tr>
            <td>Название</td>
            <td>Колличество</td>
            <td>Ценна</td>
            <td>Сумма</td>
            <td>
                <button class="btn btn-outline-danger btn-sm" ng-click="clearCart()">Очистить корзину</button>
            </td>
        </tr>
        <tbody>
        <tr ng-repeat="item in cart.cartItemList">
            <td>{{item.productTitle}}</td>
            <td>
                <button class="btn btn-outline-secondary btn-sm" ng-click="ChangeQuantityMinus(item.productId)">-
                </button>
                {{item.quantity}}
                <button class="btn btn-outline-secondary btn-sm" ng-click="ChangeQuantityPlus(item.productId)">+
                </button>
            </td>
            <td>{{item.pricePerProduct}}</td>
            <td>{{item.price}}</td>
            <td>
                <button class="btn btn-outline-danger btn-sm" ng-click="deleteItemCart(item.productId)">Удалить</button>
            </td>
        </tr>
        <tr>
            <td>Итого</td>
            <td></td>
            <td></td>
            <td>{{cart.totalPrice}}</td>
            <td>
                <button class="btn btn-outline-success btn-sm" ng-click="createdOrder()">Оформить заказ</button>
                <!--                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Оформить заказ</button>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>