<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js"></script>
    <script src="index.js"></script>
    <title>Products</title>
</head>
    <body>
    <div class="container" ng-controller= "indexController">
        <h1></h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in productsList">
                    <th>{{p.id}}</th>
                    <th>{{p.title}}</th>
                    <th>{{p.cost}}</th>
                    <th>
                        <button class="btn btn-danger" ng-click="deleteProduct(p.id)">Удалить</button>
                        <button class="btn btn-primary" ng-click="shoppingListUserByProduct(p.id)">Список покупателей</button>
                    </th>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" href="addProduct.html" role="button">Создать продукт</a>
    </div>
    </body>
</html>