<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<h2> iMarket</h2>
<h3> List Products</h3>
<br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${listProducts}">
        <th th:text="${p.id}"/>
        <th th:text="${p.title}"/>
        <th th:text="${p.cost}"/>
    </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="/products/add" role="button">Create new product</a>

</body>
</html>